In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
# Load the dataset
tweets_d = pd.read_csv('Data/tweets_disc_cleaned.csv')
tweets_c = pd.read_csv('Data/tweets_ctrl_cleaned.csv')
data = pd.concat([tweets_d, tweets_c])
data

,date,id,content,likes,retweets,disc_cat,Unnamed: 0.1,disc_cat_num
0,28 February 2023,1630587451436683264,bitch lmfaooooo gone rock sock ass,0,0,gender,NaN,2
1,28 February 2023,1630587450710958081,nvr vw person simpli cost repair hassl get don...,0,0,gender,NaN,2
2,28 February 2023,1630587450673319940,hate wen bitch say stop act care df said act l...,0,0,gender,NaN,2
3,28 February 2023,1630587450547634179,dnc pay well ask brooklyn dad hes lucki get pe...,0,0,gender,NaN,2
4,28 February 2023,1630587449503264769,sinong bitch ba yung hindi marunong mag sorri ...,0,0,gender,NaN,2
...,...,...,...,...,...,...,...,...
99996,01 March 2023,1630854187658489856,happi st david day everyon wale council blind ...,0,0,control,NaN,0
99997,01 March 2023,1630854187603959808,congrat sir pls sir want sir better nigeria pu...,0,0,control,NaN,0
99998,01 March 2023,1630854187595472896,ne abbiamo sempr bisogno,0,0,control,NaN,0
99999,01 March 2023,1630854187587100672,wait video channel bro,0,0,control,NaN,0
100000,01 March 2023,1630854187578712064,nhn cartier vng chim ngng v khng th chi nhn ca...,0,0,control,NaN,0

In [3]:
data = data.fillna('missing')
data

,date,id,content,likes,retweets,disc_cat,Unnamed: 0.1,disc_cat_num
0,28 February 2023,1630587451436683264,bitch lmfaooooo gone rock sock ass,0,0,gender,missing,2
1,28 February 2023,1630587450710958081,nvr vw person simpli cost repair hassl get don...,0,0,gender,missing,2
2,28 February 2023,1630587450673319940,hate wen bitch say stop act care df said act l...,0,0,gender,missing,2
3,28 February 2023,1630587450547634179,dnc pay well ask brooklyn dad hes lucki get pe...,0,0,gender,missing,2
4,28 February 2023,1630587449503264769,sinong bitch ba yung hindi marunong mag sorri ...,0,0,gender,missing,2
...,...,...,...,...,...,...,...,...
99996,01 March 2023,1630854187658489856,happi st david day everyon wale council blind ...,0,0,control,missing,0
99997,01 March 2023,1630854187603959808,congrat sir pls sir want sir better nigeria pu...,0,0,control,missing,0
99998,01 March 2023,1630854187595472896,ne abbiamo sempr bisogno,0,0,control,missing,0
99999,01 March 2023,1630854187587100672,wait video channel bro,0,0,control,missing,0
100000,01 March 2023,1630854187578712064,nhn cartier vng chim ngng v khng th chi nhn ca...,0,0,control,missing,0

In [4]:
texts = data['content'].values.tolist()

In [5]:
# create a TfidfVectorizer object
vectorizer = TfidfVectorizer()

# fit the vectorizer to the text data and transform the data
X = vectorizer.fit_transform(texts)
X

<310919x176321 sparse matrix of type '<class 'numpy.float64'>'
	with 3015054 stored elements in Compressed Sparse Row format>

In [6]:
discriminatory_words_pd= pd.read_csv('Data/discriminatory_words.csv')
discriminatory_words_pd

          sex             gender    race   health mental_health
0       bitch                fag  n-word    crazy         crazy
1       whore               dyke   nigga  lunatic       lunatic
2        slut             tranny  nigger   psycho        psycho
3        cunt            shemale    spic   nutjob        nutjob
4          ho  chick with a dick   chink   schizo        schizo
..        ...                ...     ...      ...           ...
68  manspread                NaN     NaN      NaN           NaN
69        bro                NaN     NaN      NaN           NaN
70       dude                NaN     NaN      NaN           NaN
71        guy                NaN     NaN      NaN           NaN
72        man                NaN     NaN      NaN           NaN

[73 rows x 5 columns]

In [7]:
#discriminatory_words = discriminatory_words_pd['sex'].tolist() + discriminatory_words_pd['gender'].tolist() + discriminatory_words_pd['race'].tolist() + discriminatory_words_pd['health'].tolist() + discriminatory_words_pd['mental_health'].tolist()

In [8]:
discriminatory_words_pd = discriminatory_words_pd.astype(str)

In [9]:
# Concatenate all columns of discriminatory words into a single column
discriminatory_words_list = pd.concat([discriminatory_words_pd[col] for col in discriminatory_words_pd.columns], ignore_index=True)

# Convert all values in discriminatory_words_list to strings
discriminatory_words_list = [str(word) for word in discriminatory_words_list]

# Count the number of discriminatory words in each tweet
num_discriminatory_words = []
for i, row in data.iterrows():
    count = 0
    for word in row['content'].split():
        if word in discriminatory_words_list:
            count += 1
    num_discriminatory_words.append(count)

# Add the new column to the dataframe
data['num_discriminatory_words'] = num_discriminatory_words

In [10]:
# Use the number of discriminatory words as the label
y = data['num_discriminatory_words']

In [11]:
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
# Create an SGDRegressor model
model = SGDRegressor()


# Train an SVR model
#model = SVR(kernel='linear', C=1)
model.fit(X_train, y_train)

SGDRegressor()

In [13]:
# Evaluate the model
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean squared error: {mse}')
print('R^2 Score:', r2)

Mean squared error: 0.14127012908367653
R^2 Score: 0.5823263626490596

In [14]:
def extract_features(user_tweet, discriminatory_words_pd):
    # Create a list of binary features
    features = []
    
    # Iterate over the discriminatory words in the dataframe
    for category, words in discriminatory_words_pd.iteritems():
        # Iterate over the words in the category
        for word in words:
            # Append a binary feature indicating whether the word is present in the tweet
            if word in user_tweet:
                features.append(1)
            else:
                features.append(0)
    return features

In [15]:
# Get input from user
user_tweet = input(str("Enter a tweet: "))

Enter a tweet: hi you do well by

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

# Convert all values in discriminatory_words_list to strings
discriminatory_words_list = [str(word) for word in discriminatory_words_list]
discriminatory_words_list = list(set(discriminatory_words_list))

In [17]:
# Extract features from the input tweet
cv = CountVectorizer(vocabulary=discriminatory_words_list)
input_features = cv.transform([user_tweet])

In [ ]:
# Make a prediction for the input tweet
y_pred = model.predict(input_features)

In [ ]:
# Provide suggestions based on the number of discriminatory words
if y_pred < 2:
    print('This tweet contains no discriminatory language.')
elif y_pred < 5:
    print('Consider revising this tweet to remove any potentially discriminatory language.')
else:
    print('This tweet contains a high number of discriminatory words and should be reviewed carefully.')