In [1]:
import pandas as pd
import snscrape.modules.twitter as sntwitter
import re
import emoji
from datetime import datetime

import nltk
from nltk.corpus import stopwords

In [2]:
#pip install emoji
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('tagsets')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\kurtu\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kurtu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\kurtu\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package tagsets to
[nltk_data]     C:\Users\kurtu\AppData\Roaming\nltk_data...
[nltk_data]   Package tagsets is already up-to-date!

True

In [3]:
tweets_d = pd.read_csv("Data/tweet_no_duplicates.csv")
tweets_d2 = pd.read_csv("Data/secondround_tweet_no_duplicates.csv")
tweets_c = pd.read_csv("Data/tweet_control.csv")
tweets = pd.concat([tweets_d, tweets_d2, tweets_c])
tweets = tweets.drop(columns=['Unnamed: 0'], axis=1)
tweets

,date,id,content,likes,retweets,disc_cat,Unnamed: 0.1
0,2023-02-28 15:15:17+00:00,1630587451436683264,@BuckTheBoss_ Bitch LMFAOOOOO gone rock the so...,0,0,gender,NaN
1,2023-02-28 15:15:17+00:00,1630587450710958081,@davenewworld_2 Im a nvr VW person simply bc t...,0,0,gender,NaN
2,2023-02-28 15:15:17+00:00,1630587450673319940,I hate wen a bitch say ‚Äústop acting like u don...,0,0,gender,NaN
3,2023-02-28 15:15:17+00:00,1630587450547634179,@JJohnson2460 @Todd66251244 @JoJoFromJerz DNC ...,0,0,gender,NaN
4,2023-02-28 15:15:17+00:00,1630587449503264769,Sinong bitch ba yung hindi marunong mag sorry ...,0,0,gender,NaN
...,...,...,...,...,...,...,...
99996,2023-03-01 08:55:12+00:00,1630854187658489856,üè¥Û†ÅßÛ†Å¢Û†Å∑Û†Å¨Û†Å≥Û†ÅøA very Happy St David's Day from everyo...,0,0,control,NaN
99997,2023-03-01 08:55:12+00:00,1630854187603959808,@ARISEtv Congrats sir pls sir what I want for ...,0,0,control,NaN
99998,2023-03-01 08:55:12+00:00,1630854187595472896,@the_head_ofA ne abbiamo sempre bisogno,0,0,control,NaN
99999,2023-03-01 08:55:12+00:00,1630854187587100672,"@JaqubAjmal Wait, what!\n\nVideo on the channe...",0,0,control,NaN
100000,2023-03-01 08:55:12+00:00,1630854187578712064,"Nh·∫´n Cartier 3 v√≤ng: Chi√™m ng∆∞·ª°ng v·∫ª ƒë·∫πp ""kh√¥n...",0,0,control,NaN

In [4]:
print(tweets.dtypes)

date             object
id                int64
content          object
likes             int64
retweets          int64
disc_cat         object
Unnamed: 0.1    float64
dtype: object

In [5]:
tweets['content'] = tweets['content'].astype(str)

In [6]:
# Define regular expressions for hashtags and mentions
hashtag_pattern = re.compile(r'#\w+')
mention_pattern = re.compile(r'@\w+')
url_pattern = re.compile(r'https?://\S+')
non_text_pattern = re.compile(r'[^a-zA-Z\s]')

In [7]:
# Define a function to remove emojis from a string using regular expressions
def remove_emojis(tweets):
    # Define regular expression pattern for emojis
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               "]+", flags=re.UNICODE)
    # Remove emojis from the string
    return emoji_pattern.sub(r'', tweets)

In [8]:
# Define a function to clean the text content of a tweet and remove hashtags, mentions, URLs, emojis and non-text characters, also convert to lowercase
def clean_tweets(tweets):
    tweets = hashtag_pattern.sub('', tweets)
    tweets = mention_pattern.sub('', tweets)
    tweets = url_pattern.sub('', tweets)
    tweets = remove_emojis(tweets)
    tweets = non_text_pattern.sub('', tweets)
    tweets = tweets.lower()
    return tweets

# Apply the clean_tweet function to the 'content' column of the DataFrame
tweets['content'] = tweets['content'].apply(clean_tweets)

In [9]:
tweets

,date,id,content,likes,retweets,disc_cat,Unnamed: 0.1
0,2023-02-28 15:15:17+00:00,1630587451436683264,bitch lmfaooooo gone rock the socks off yo ass,0,0,gender,NaN
1,2023-02-28 15:15:17+00:00,1630587450710958081,im a nvr vw person simply bc the cost of repa...,0,0,gender,NaN
2,2023-02-28 15:15:17+00:00,1630587450673319940,i hate wen a bitch say stop acting like u dont...,0,0,gender,NaN
3,2023-02-28 15:15:17+00:00,1630587450547634179,dnc pays me well ask brooklyn dad about it...,0,0,gender,NaN
4,2023-02-28 15:15:17+00:00,1630587449503264769,sinong bitch ba yung hindi marunong mag sorry ...,0,0,gender,NaN
...,...,...,...,...,...,...,...
99996,2023-03-01 08:55:12+00:00,1630854187658489856,a very happy st davids day from everyone at wa...,0,0,control,NaN
99997,2023-03-01 08:55:12+00:00,1630854187603959808,congrats sir pls sir what i want for u sir is...,0,0,control,NaN
99998,2023-03-01 08:55:12+00:00,1630854187595472896,ne abbiamo sempre bisogno,0,0,control,NaN
99999,2023-03-01 08:55:12+00:00,1630854187587100672,wait what\n\nvideo on the channel bro,0,0,control,NaN
100000,2023-03-01 08:55:12+00:00,1630854187578712064,nhn cartier vng chim ngng v p khng th chi t ...,0,0,control,NaN

In [10]:
# Define a function to clean the date format
def clean_date(date_str):
    # Convert string to datetime object
    date_obj = datetime.strptime(date_str, '%Y-%m-%d %H:%M:%S+00:00')
    # Format datetime object as string in 'day month year' format
    date_str = date_obj.strftime('%d %B %Y')
    return date_str

# Apply the clean_date function to the 'date' column of the DataFrame
tweets['date'] = tweets['date'].apply(clean_date)

In [11]:
tweets

,date,id,content,likes,retweets,disc_cat,Unnamed: 0.1
0,28 February 2023,1630587451436683264,bitch lmfaooooo gone rock the socks off yo ass,0,0,gender,NaN
1,28 February 2023,1630587450710958081,im a nvr vw person simply bc the cost of repa...,0,0,gender,NaN
2,28 February 2023,1630587450673319940,i hate wen a bitch say stop acting like u dont...,0,0,gender,NaN
3,28 February 2023,1630587450547634179,dnc pays me well ask brooklyn dad about it...,0,0,gender,NaN
4,28 February 2023,1630587449503264769,sinong bitch ba yung hindi marunong mag sorry ...,0,0,gender,NaN
...,...,...,...,...,...,...,...
99996,01 March 2023,1630854187658489856,a very happy st davids day from everyone at wa...,0,0,control,NaN
99997,01 March 2023,1630854187603959808,congrats sir pls sir what i want for u sir is...,0,0,control,NaN
99998,01 March 2023,1630854187595472896,ne abbiamo sempre bisogno,0,0,control,NaN
99999,01 March 2023,1630854187587100672,wait what\n\nvideo on the channel bro,0,0,control,NaN
100000,01 March 2023,1630854187578712064,nhn cartier vng chim ngng v p khng th chi t ...,0,0,control,NaN

In [12]:
# Download stopwords
nltk.download('stopwords')
nltk.download('punkt')

stop_words = stopwords.words('english')
extras = ['rt', 'mkr', 'didn', 'bc', 'n', 'm', 'im', 'll', 'y', 've', 'u', 'ur', 
          'don', 'p', 't', 's', 'aren', 'kp', 'o', 'kat', 'de', 're', 'amp', 'will', 
          'wa', 'w', 'e', 'vc', 'like', 'yo', 'bc', 'amp', 'nan']
stop_words.extend(extras)
stop_words

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kurtu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\kurtu\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'rt',
 'mkr',
 'didn',
 'bc',
 'n',
 'm',
 'im',
 'll',
 'y',
 've',
 'u',
 'ur',
 'don',
 'p',
 't',
 's',
 'aren',
 'kp',
 'o',
 'kat',
 'de',
 're',
 'amp',
 'will',
 'wa',
 'w',
 'e',
 'vc',
 'like',
 'yo',
 'bc',
 'amp',
 'nan']

In [13]:
# Define a function to remove stopwords from text
def remove_stopwords(text):
    tokens = nltk.word_tokenize(text)
    filtered_tokens = [token for token in tokens if token.lower() not in stop_words]
    return ' '.join(filtered_tokens)

In [14]:
tweets['content'] = tweets['content'].apply(lambda x: remove_stopwords(x))

In [15]:
CONTRACTION_MAP = {
    "ain't": "is not",
    "r": "are",
    "aren't": "are not",
    "can't": "cannot",
    "cant": "cannot",
    "can't've": "cannot have",
    "'cause": "because",
    "could've": "could have",
    "couldn't": "could not",
    "couldn't've": "could not have",
    "didn't": "did not",
    "didnt": "did not",
    "doesn't": "does not",
    "don't": "do not",
    "dont": "do not",
    "hadn't": "had not",
    "hadn't've": "had not have",
    "hasn't": "has not",
    "haven't": "have not",
    "he'd": "he would",
    "he'd've": "he would have",
    "he'll": "he will",
    "he'll've": "he he will have",
    "he's": "he is",
    "how'd": "how did",
    "how'd'y": "how do you",
    "how'll": "how will",
    "how's": "how is",
    "i'd": "i would",
    "i'd've": "i would have",
    "i'll": "i will",
    "i'll've": "i will have",
    "i'm": "i am",
    "i've": "i have",
    "isn't": "is not",
    "it'd": "it would",
    "it'd've": "it would have",
    "it'll": "it will",
    "it'll've": "it will have",
    "it's": "it is",
    "kno" : "know", 
    "let's": "let us",
    "ma'am": "madam",
    "mayn't": "may not",
    "might've": "might have",
    "mightn't": "might not",
    "mightn't've": "might not have",
    "must've": "must have",
    "mustn't": "must not",
    "mustn't've": "must not have",
    "needn't": "need not",
    "needn't've": "need not have",
    "o'clock": "of the clock",
    "oughtn't": "ought not",
    "oughtn't've": "ought not have",
    "shan't": "shall not",
    "sha'n't": "shall not",
    "shan't've": "shall not have",
    "she'd": "she would",
    "she'd've": "she would have",
    "she'll": "she will",
    "she'll've": "she will have",
    "she's": "she is",
    "should've": "should have",
    "shouldn't": "should not",
    "shouldn't've": "should not have",
    "so've": "so have",
    "so's": "so as",
    "that'd": "that would",
    "that'd've": "that would have",
    "that's": "that is",
    "there'd": "there would",
    "there'd've": "there would have",
    "there's": "there is",
    "they'd": "they would",
    "they'd've": "they would have",
    "they'll": "they will",
    "they'll've": "they will have",
    "they're": "they are",
    "they've": "they have",
    "to've": "to have",
    "wasn't": "was not",
    "we'd": "we would",
    "we'd've": "we would have",
    "we'll": "we will",
    "we'll've": "we will have",
    "we're": "we are",
    "we've": "we have",
    "weren't": "were not",
    "what'll": "what will",
    "what'll've": "what will have",
    "what're": "what are",
    "what's": "what is",
    "what've": "what have",
    "when's": "when is",
    "when've": "when have",
    "where'd": "where did",
    "where's": "where is",
    "where've": "where have",
    "who'll": "who will",
    "who'll've": "who will have",
    "who's": "who is",
    "who've": "who have",
    "why's": "why is",
    "why've": "why have",
    "will've": "will have",
    "won't": "will not",
    "won't've": "will not have",
    "would've": "would have",
    "wouldv" : "would have",
    "wouldn't": "would not",
    "wouldn't've": "would not have",
    "y'all": "you all",
    "y'all'd": "you all would",
    "y'all'd've": "you all would have",
    "y'all're": "you all are",
    "y'all've": "you all have",
    "you'd": "you would",
    "you'd've": "you would have",
    "you'll": "you will",
    "you'll've": "you will have",
    "you're": "you are",
    "you've": "you have"}

In [16]:
from nltk.stem import WordNetLemmatizer
import nltk
import nltk.corpus
from nltk.stem.snowball import SnowballStemmer
from nltk.corpus import stopwords
nltk.download('omw-1.4')
lem = WordNetLemmatizer()
stemmer=SnowballStemmer('english')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\kurtu\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [17]:
def clean_tweet(text):
    #removing hastags and links
    text=" ".join(text.split())
    
    #stemming
    text=" ".join([stemmer.stem(word) for word in text.split()])
    
    #remove shortands
    s=''
    for word in text.split():
        if word in CONTRACTION_MAP.keys():
            s=s+' '+CONTRACTION_MAP[word];
        else:
            s=s+' '+word
    text=s
    
    #remove puncutations
    punc=re.compile(r"[^\w\s]")
    text=punc.sub('',text)
    
    #remove stop words
    text=" ".join(word for word in text.split() if word not in stop_words)
    
    return text

In [18]:
tweets['content']=tweets['content'].apply(lambda x: clean_tweet(x))

In [19]:
tweets

,date,id,content,likes,retweets,disc_cat,Unnamed: 0.1
0,28 February 2023,1630587451436683264,bitch lmfaooooo gone rock sock ass,0,0,gender,NaN
1,28 February 2023,1630587450710958081,nvr vw person simpli cost repair hassl get don...,0,0,gender,NaN
2,28 February 2023,1630587450673319940,hate wen bitch say stop act care df said act l...,0,0,gender,NaN
3,28 February 2023,1630587450547634179,dnc pay well ask brooklyn dad hes lucki get pe...,0,0,gender,NaN
4,28 February 2023,1630587449503264769,sinong bitch ba yung hindi marunong mag sorri ...,0,0,gender,NaN
...,...,...,...,...,...,...,...
99996,01 March 2023,1630854187658489856,happi st david day everyon wale council blind ...,0,0,control,NaN
99997,01 March 2023,1630854187603959808,congrat sir pls sir want sir better nigeria pu...,0,0,control,NaN
99998,01 March 2023,1630854187595472896,ne abbiamo sempr bisogno,0,0,control,NaN
99999,01 March 2023,1630854187587100672,wait video channel bro,0,0,control,NaN
100000,01 March 2023,1630854187578712064,nhn cartier vng chim ngng v khng th chi nhn ca...,0,0,control,NaN

In [20]:
tweets['disc_cat'].value_counts()

control          100001
sex               64127
gender            54108
mental_health     44088
race              35569
health            13026
Name: disc_cat, dtype: int64

# Scaling discrimination categories

In [21]:
# Creating a dictionary to map each category to a numerical value
discrimination_map = {
    'control': 0,
    'sex': 1,
    'gender': 2,
    'race': 3,
    'mental_health': 4,
    'health': 5
}

# Encoding the discrimination categories
tweets['disc_cat_num']  = tweets['disc_cat'].apply(lambda x: discrimination_map[x])

In [22]:
tweets['disc_cat_num'].value_counts()

0    100001
1     64127
2     54108
4     44088
3     35569
5     13026
Name: disc_cat_num, dtype: int64

In [23]:
tweets

,date,id,content,likes,retweets,disc_cat,Unnamed: 0.1,disc_cat_num
0,28 February 2023,1630587451436683264,bitch lmfaooooo gone rock sock ass,0,0,gender,NaN,2
1,28 February 2023,1630587450710958081,nvr vw person simpli cost repair hassl get don...,0,0,gender,NaN,2
2,28 February 2023,1630587450673319940,hate wen bitch say stop act care df said act l...,0,0,gender,NaN,2
3,28 February 2023,1630587450547634179,dnc pay well ask brooklyn dad hes lucki get pe...,0,0,gender,NaN,2
4,28 February 2023,1630587449503264769,sinong bitch ba yung hindi marunong mag sorri ...,0,0,gender,NaN,2
...,...,...,...,...,...,...,...,...
99996,01 March 2023,1630854187658489856,happi st david day everyon wale council blind ...,0,0,control,NaN,0
99997,01 March 2023,1630854187603959808,congrat sir pls sir want sir better nigeria pu...,0,0,control,NaN,0
99998,01 March 2023,1630854187595472896,ne abbiamo sempr bisogno,0,0,control,NaN,0
99999,01 March 2023,1630854187587100672,wait video channel bro,0,0,control,NaN,0
100000,01 March 2023,1630854187578712064,nhn cartier vng chim ngng v khng th chi nhn ca...,0,0,control,NaN,0

In [24]:
tweets_ctrl_cleaned = tweets[tweets['disc_cat'] == 'control'].copy()
tweets_disc_cleaned = tweets[tweets['disc_cat'] != 'control'].copy()

In [25]:
tweets_ctrl_cleaned.to_csv('Data/tweets_ctrl_cleaned.csv', index=False)
tweets_disc_cleaned.to_csv('Data/tweets_disc_cleaned.csv', index=False)