In [1]:
import pandas as pd
import snscrape.modules.twitter as sntwitter
import re
import emoji
from datetime import datetime

import nltk
from nltk.corpus import stopwords

In [2]:
#pip install emoji

In [3]:
tweets_d = pd.read_csv("Data/tweet_no_duplicates.csv")
tweets_c = pd.read_csv("Data/tweet_control.csv")
tweets = pd.concat([tweets_d, tweets_c])
tweets = tweets.drop(columns=['Unnamed: 0'], axis=1)
tweets

,date,id,content,likes,retweets,disc_cat
0,2023-02-28 15:15:17+00:00,1630587451436683264,@BuckTheBoss_ Bitch LMFAOOOOO gone rock the so...,0,0,gender
1,2023-02-28 15:15:17+00:00,1630587450710958081,@davenewworld_2 Im a nvr VW person simply bc t...,0,0,gender
2,2023-02-28 15:15:17+00:00,1630587450673319940,I hate wen a bitch say ‚Äústop acting like u don...,0,0,gender
3,2023-02-28 15:15:17+00:00,1630587450547634179,@JJohnson2460 @Todd66251244 @JoJoFromJerz DNC ...,0,0,gender
4,2023-02-28 15:15:17+00:00,1630587449503264769,Sinong bitch ba yung hindi marunong mag sorry ...,0,0,gender
...,...,...,...,...,...,...
99996,2023-03-01 08:55:12+00:00,1630854187658489856,üè¥Û†ÅßÛ†Å¢Û†Å∑Û†Å¨Û†Å≥Û†ÅøA very Happy St David's Day from everyo...,0,0,control
99997,2023-03-01 08:55:12+00:00,1630854187603959808,@ARISEtv Congrats sir pls sir what I want for ...,0,0,control
99998,2023-03-01 08:55:12+00:00,1630854187595472896,@the_head_ofA ne abbiamo sempre bisogno,0,0,control
99999,2023-03-01 08:55:12+00:00,1630854187587100672,"@JaqubAjmal Wait, what!\n\nVideo on the channe...",0,0,control
100000,2023-03-01 08:55:12+00:00,1630854187578712064,"Nh·∫´n Cartier 3 v√≤ng: Chi√™m ng∆∞·ª°ng v·∫ª ƒë·∫πp ""kh√¥n...",0,0,control

In [4]:
# Download stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kurtu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [5]:
# Define regular expressions for hashtags and mentions
hashtag_pattern = re.compile(r'#\w+')
mention_pattern = re.compile(r'@\w+')
url_pattern = re.compile(r'https?://\S+')
non_text_pattern = re.compile(r'[^a-zA-Z\s]')

In [6]:
# Define a function to remove emojis from a string using regular expressions
def remove_emojis(tweets):
    # Define regular expression pattern for emojis
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               "]+", flags=re.UNICODE)
    # Remove emojis from the string
    return emoji_pattern.sub(r'', tweets)

In [7]:
# Define a function to clean the text content of a tweet and remove hashtags, mentions, URLs, emojis and non-text characters, also convert to lowercase
def clean_tweets(tweets):
    tweets = hashtag_pattern.sub('', tweets)
    tweets = mention_pattern.sub('', tweets)
    tweets = url_pattern.sub('', tweets)
    tweets = remove_emojis(tweets)
    tweets = non_text_pattern.sub('', tweets)
    tweets = tweets.lower()
    return tweets

# Apply the clean_tweet function to the 'content' column of the DataFrame
tweets['content'] = tweets['content'].apply(clean_tweets)

In [8]:
tweets

,date,id,content,likes,retweets,disc_cat
0,2023-02-28 15:15:17+00:00,1630587451436683264,bitch lmfaooooo gone rock the socks off yo ass,0,0,gender
1,2023-02-28 15:15:17+00:00,1630587450710958081,im a nvr vw person simply bc the cost of repa...,0,0,gender
2,2023-02-28 15:15:17+00:00,1630587450673319940,i hate wen a bitch say stop acting like u dont...,0,0,gender
3,2023-02-28 15:15:17+00:00,1630587450547634179,dnc pays me well ask brooklyn dad about it...,0,0,gender
4,2023-02-28 15:15:17+00:00,1630587449503264769,sinong bitch ba yung hindi marunong mag sorry ...,0,0,gender
...,...,...,...,...,...,...
99996,2023-03-01 08:55:12+00:00,1630854187658489856,a very happy st davids day from everyone at wa...,0,0,control
99997,2023-03-01 08:55:12+00:00,1630854187603959808,congrats sir pls sir what i want for u sir is...,0,0,control
99998,2023-03-01 08:55:12+00:00,1630854187595472896,ne abbiamo sempre bisogno,0,0,control
99999,2023-03-01 08:55:12+00:00,1630854187587100672,wait what\n\nvideo on the channel bro,0,0,control
100000,2023-03-01 08:55:12+00:00,1630854187578712064,nhn cartier vng chim ngng v p khng th chi t ...,0,0,control

In [9]:
# Define a function to clean the date format
def clean_date(date_str):
    # Convert string to datetime object
    date_obj = datetime.strptime(date_str, '%Y-%m-%d %H:%M:%S+00:00')
    # Format datetime object as string in 'day month year' format
    date_str = date_obj.strftime('%d %B %Y')
    return date_str

# Apply the clean_date function to the 'date' column of the DataFrame
tweets['date'] = tweets['date'].apply(clean_date)

In [10]:
tweets

,date,id,content,likes,retweets,disc_cat
0,28 February 2023,1630587451436683264,bitch lmfaooooo gone rock the socks off yo ass,0,0,gender
1,28 February 2023,1630587450710958081,im a nvr vw person simply bc the cost of repa...,0,0,gender
2,28 February 2023,1630587450673319940,i hate wen a bitch say stop acting like u dont...,0,0,gender
3,28 February 2023,1630587450547634179,dnc pays me well ask brooklyn dad about it...,0,0,gender
4,28 February 2023,1630587449503264769,sinong bitch ba yung hindi marunong mag sorry ...,0,0,gender
...,...,...,...,...,...,...
99996,01 March 2023,1630854187658489856,a very happy st davids day from everyone at wa...,0,0,control
99997,01 March 2023,1630854187603959808,congrats sir pls sir what i want for u sir is...,0,0,control
99998,01 March 2023,1630854187595472896,ne abbiamo sempre bisogno,0,0,control
99999,01 March 2023,1630854187587100672,wait what\n\nvideo on the channel bro,0,0,control
100000,01 March 2023,1630854187578712064,nhn cartier vng chim ngng v p khng th chi t ...,0,0,control

In [11]:
tweets.describe()

                 id          likes       retweets
count  2.052110e+05  205211.000000  205211.000000
mean   1.627916e+18       3.709202       0.700489
std    3.081599e+16     152.453793      35.714924
min    9.086889e+17       0.000000       0.000000
25%    1.630542e+18       0.000000       0.000000
50%    1.630597e+18       0.000000       0.000000
75%    1.630856e+18       1.000000       0.000000
max    1.630858e+18   45986.000000   11479.000000